.pipeline {
  background: linear-gradient(
    300deg,
    deepskyblue,
    white,
    darkviolet,
    blue,
    darkviolet,
    white,
    deepskyblue
  );
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite forwards;
}

@keyframes gradient-animation {
  0% {
    background-position: 1000% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
