.pipeline {
  background: linear-gradient(
    300deg,
    deepskyblue,
    white,
    darkviolet,
    blue,
    darkviolet,
    white,
    deepskyblue
  );
  background-size: 200% 100%;
  animation-duration: 5s;
  animation-name: gradient-animation;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}

@keyframes gradient-animation {
  0% {
    background-position: 1000% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

input::selection {
    background-color: #000;
    color: white;
}